<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Noob2Pro{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        {{ encore_entry_link_tags('app') }}

    {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/dc6adfa76a.js" crossorigin="anonymous"></script>

</head>


<body class="col-12">

{% block header %}
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="font-size: 3em" href="{{ path('home') }}"><img
                        src="{{ asset('build/images/logo.png') }}" alt="n2p logo">Noob2Pro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarColor02">
                <ul class="navbar-nav ml-auto" id="navbarButtons">
                    <button onclick="window.location.href = '{{ path('register') }}';" type="button" class="btn btn-outline-primary btn-lg" style="margin: 6px; width: 9.5em;">SIGN
                        UP
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg" style="margin: 6px; width: 9.5em">CREATE A
                        PAGE
                    </button>
                    <button onclick="window.location.href = '{{ path('login') }}';" type="button" class="btn btn-primary btn-lg" style="margin: 6px; width: 9.5em">SIGN IN</button>
                </ul>
                <div>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter-square fa-4x" style="color: #375A7F; margin: 6px"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-square fa-4x" style="color: #375A7F; margin: 6px"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
{% endblock %}

{% block footer %}
<footer class="position-relative">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div>
            <a href="https://www.pinterest.fr/" target="_blank">
                <i class="fab fa-pinterest-square fa-4x" style="color: #375A7F; margin: 6px"></i>
            </a>
            <a href="https://www.instagram.com/?hl=fr" target="_blank">
                <i class="fab fa-instagram-square fa-4x" style="color: #375A7F; margin: 6px"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fab fa-youtube-square fa-4x" style="color: #375A7F; margin: 6px"></i>
            </a>
            <a href="http://discord.gg/" target="_blank">
                <i class="fab fa-discord fa-4x" style="color: #375A7F; margin: 6px"></i>
            </a>
        </div>

        <div style="text-align: center">
            <a href="{{ path('legal_notice') }}">Legal Notice</a>
            <p>&copy; Noob2Pro 2020</p>
        </div>


        <div>
            <ul class="navbar-nav ml-auto" id="navbarButtons">
                <button type="button" class="btn btn-outline-primary btn-lg" style="margin: 6px">CONTACT US</button>
            </ul>
        </div>
    </nav>
</footer>
{% endblock %}
</body>


</html>
